html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*-----Header -----*/

.header {
    width: 100%;
    height: 750px;
    background: #2e314b url("img/banner.jpg") center no-repeat;
}

.container {
    width: 100%;
    height: 100px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 35px 0;
    border-bottom: 1px solid #505269;

}

.nav {

}

.nav_link {
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 60px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: 0.2s;
}

.nav_link:hover {
    color: #c5c5c5;
}

.nav_link:last-child {
    margin-right: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*----- masthead -----*/

.masthead {
    width: 100%;
    height: 650px;
    max-width: 1170px;
    margin: 0 auto;

}

.masthead_h1 {
    font-size: 65px;
    line-height: 1.09;
    font-family: 'Open Sans', sans-serif;
    padding: 150px 0 0 0;
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.masthead_p {
    padding-top: 45px;
    padding-right: 115px;
    padding-left: 115px;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

.masthead_button {
    height: 46px;
    width: 200px;
    font-size: 13px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: #e84545;
    border: none;
    margin: 82px 485px;
    transition: 0.2s;
    border-radius: 5px;
}

.masthead_button:hover {
    background: #dc2f2f;
    cursor: pointer;
}


/*----- features -----*/

.features {
    width: 100%;
    max-width: 1170px;
    height: 700px;
    margin: 0 auto;
}

.features_high {
    display: flex;
}

.features_low {
    display: flex;
    top: 0;
    margin-top: 0;
}

.features_1, .features_4 {
    width: 302px;
    height: 170px;
    margin-top: 120px;
    margin-left: 45px ;

}

.features_img {
    margin: 0 130px;
    padding: 0;
}

.features_h4 {
    font-size: 14px;
    font-family: 'Raleway 600' , sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.features_p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    padding: 0;
    margin: 0;

}

.features_2, .features_3, .features_5, .features_6 {
    width: 302px;
    height: 170px;
    margin-top: 120px;
    margin-left: 100px ;

}

/*----- works -----*/
.works {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 700px;
}
.works_high, .works_low {
    display: flex;
}

.works_default_1 {
    width: 470px;
    height: 350px;
    border: 1px solid white;
}

.works_default_2 {
    width: 480px;
    height: 350px;
    border: 1px solid white;
}

.works_blur_default_1 {
    width: 470px;
    height: 350px;
}

.works_blur_default_2 {
    width: 480px;
    height: 350px;
}

.works_blur {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(212, 64, 64, 0.9);
    text-align: center;
    border: 1px solid white;
    opacity: 0;
    transition: 0.2s;
}

.works_blur_h4 {
    font-family: 'Raleway 600', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

.works_blur_p {
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    margin: 5px;
    color: white;



}

.works_img_1 {
    background: url("img/works/work-1.jpg") center no-repeat;
}

.works_img_1:hover .works_blur {
    opacity: 1;
}

.works_img_2 {
    background: url("img/works/work-2.jpg") center no-repeat;
}

.works_img_2:hover .works_blur {
    opacity: 1;
}

.works_img_3 {
    background: url("img/works/work-3.jpg") center no-repeat;
}

.works_img_3:hover .works_blur {
    opacity: 1;
}

.works_img_4 {
    background: url("img/works/work-4.jpg") center no-repeat;
}

.works_img_4:hover .works_blur {
    opacity: 1;
}

.works_img_5 {
    background: url("img/works/work-5.jpg") center no-repeat;
}

.works_img_5:hover .works_blur {
    opacity: 1;
}

.works_img_6 {
    background: url("img/works/work-6.jpg") center no-repeat;
}

.works_img_6:hover .works_blur {
    opacity: 1;
}

.works_img_7 {
    background: url("img/works/work-7.jpg") center no-repeat;
}

.works_img_7:hover .works_blur {
    opacity: 1;
}

.works_img_8 {
    background: url("img/works/work-8.jpg") center no-repeat;
}

.works_img_8:hover .works_blur {
    opacity: 1;
}

/*------ team ------*/

.team {
    display: flex;
    width: 100%;
    max-width: 1170px;
    height: 785px;
    margin: 0 auto;
}

.team_1 {
    width: 270px;
    height: 580px;
    font-family: Raleway, sans-serif;
    margin-top: 100px;
    margin-right: 30px;

}

.team_1:last-child {
    margin-right: 0;
}

.team_img {
    max-width:100%;
}

.team_1_h4 {
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin-top: 30px;
    margin-bottom: 0;
}

.team_1_p1 {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #e84545;
    margin-top: 10px;
    margin-bottom: 0;
}

.team_p2 {
    font-size: 14px;
    line-height: 1.5;
    color: black;
    margin-top: 15px;
    margin-bottom: 0;

}

.team_socialNetworkICO {
    width: 140px;
    margin-top: 20px;

}



.clients {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1910px;
    height: 500px;

}

.clients_photo {
    width: 950px;
    height: 500px;
    background: url("img/clients/testimonial-1.jpg") center no-repeat;
}

.clients_content {
    width: 950px;
    height: 500px;
    background: #623754;
}

.clients_content_text_1 {
    width: 500px;
    font-family: 'Cardo', serif;  /*--- italic ---*/
    font-size: 36px;
    font-weight: 1.16;
    color: white;
    margin-top: 113px;
    margin-left: 85px;


}

.clients_content_text_2 {
    width: 300px;
    margin-top: 30px;
    margin-left: 85px;
    font-size: 13px;
    font-family: Raleway, sans-serif;
    color: white;
}

.clients_circle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #755d6e;
    margin-right: 8px;
    transition: 0.2s;
}

.clients_circle_container  {
    display: flex;
    margin-top: 65px;
    margin-left: 250px;
}

.clients_circle:hover {
    background: white;
    cursor: pointer;
}

.download {
    height: 340px;
    width: 660px;
    margin: 0 auto;


}

.download_text_1 {
    margin-top: 100px;
    color: black;
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.download_text_2 {
    color: black;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 162px;
}

.download_button {
    border: none;
    transition: 0.2s;
    border-radius: 5px;
    width: 280px;
    height: 45px;
    background: #e84545;
    margin: 40px 190px;
    text-transform: uppercase;
    color: white;
    font-family: Raleway, sans-serif;
}

.download_button:hover {
    background: #dc2f2f;
    cursor: pointer;
}

/*----------- footer ----------*/
.footer {
    height: 345px;
    width: 1910px;
    max-width: 100%;
    margin: 0 auto;
}

.high_footer {
    height: 250px;
    width: 100%;
    background: #3a3e64;
}

.low_footer {
    height: 95px;
    width: 100%;
    background: #313454;
}

.high_footer_content {
    display: flex;
    height: 250px;
    width: 1170px;
    margin: 0 auto;


}


.low_footer_content {
    height: 95px;
    width: 1170px;
    margin: 0 auto;

    border: 1px solid #313454;
}

.footer_location {
    width: 170px;
    height: 70px;
    margin-top: 70px;
    margin-left: 100px;



}

.location_h4, .share_h4, .about_h4 {
    font-family: "Raleway 600", sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;

}

.location_p, .about_p  {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #adaebb;
    text-align: center;
    margin-top: 20px;

}

.footer_share {
    width: 170px;
    height: 85px;
    margin-top: 70px;
    margin-left: 170px;


}

.share_socialNetworkICO {
    margin: 15px 18px;
}

.footer_about {
    width: 370px;
    height: 95px;
    margin-top: 70px;
    margin-left: 130px;
}



.low_footer_content_p {
    width: 370px;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #656570;
    margin: 25px 350px;
    text-align: center;


}

.low_footer_content_p span {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: white;


}






